/* Base Styles */
body {
    background-color: #dedede;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 32px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
}

a {
    color: #000;
    text-decoration: none;
}

/* Div and Image Styles */
div {
    display: inline-block; /* divs side by side */
    width: 24%; /* default width for small screens */
    margin: 5px;
    padding: 2px;
    vertical-align: top; /* align divs at top */
}

div img {
    width: 150px; /* default width */
    height: 150px; /* default height */
    display: block;
    margin: auto;
}

/* Media Query 1: Tablet View (min-width: 772px) */
@media screen and (min-width: 772px) {
    div {
        width: 45%; /* divs occupy 45% of viewport width */
        display: inline-block;
        margin: 5px;
    }

    div img {
        max-height: 30vh; /* max height 30% of viewport height */
        width: auto; /* maintain aspect ratio */
    }
}

/* Media Query 2: Large Screen View (min-width: 998px) */
@media screen and (min-width: 998px) {
    div {
        width: 30%; /* divs occupy 30% of viewport width */
        display: inline-block;
        margin: 5px;
    }
}
